<div class="container">
  <div class="head">
    <h2>{{ user }}'s Task List</h2>

    <div>
      <input type="text" #newTaskText />
      <button
        class="btn-primary mt-2"
        type="submit"
        (click)="addTask(newTaskText.value); newTaskText.value = ''"
      >
        Add
      </button>
    </div>
    <div>
      <input class="mt-2" type="checkbox" [(ngModel)]="displayAll" />
      Display All
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <td>Task</td>
        <td></td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of getTasks()">
        <td>{{ task.name }}</td>
        <td><input type="checkbox" [(ngModel)]="task.status" /></td>
        <td [ngSwitch]="task.status">
          <span *ngSwitchCase="true">Done</span>
          <span *ngSwitchCase="false">X</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
